@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&family=Open+Sans:wght@300;400&display=swap');
*,
 ::before,
 ::after {
    box-sizing: border-box;
}

body {
    position: relative;
    overflow: hidden;
    display: flex;
    height: 100vh;
    flex-direction: column;
    background-color: #F29422;
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
    margin: 0;
}

.scrolls {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 1.25em;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
}

.smooth {
    position: relative;
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
    overflow-y: scroll;
    scroll-snap-type: mandatory;
    scroll-snap-points-y: repeat(100vh);
    scroll-snap-type: y proximity;
}

.header {
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    width: 100%;
    min-height: 59px;
    background-image: linear-gradient(180deg, #424242, rgba(29, 30, 34, 0.1), transparent);
    mix-blend-mode: luminosity;
}

.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    width: 100%;
    justify-content: center;
}

.header ul li {
    margin: 0 1em;
    padding: 0.5em;
}

.header ul li a {
    position: relative;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 18pt;
}

.header ul li a::after {
    position: absolute;
    bottom: -3px;
    left: 0;
    content: '';
    width: 0;
    height: 3px;
    transition: all 0.2s linear;
}

.header ul li a:hover::after {
    width: 100%;
    background-color: #f4f4f4;
}

section {
    position: relative;
    display: flex;
    width: 100%;
    min-height: 100vh;
    flex-grow: column wrap;
    /* align-items: center; */
    /* justify-content: center; */
    background-size: cover;
    scroll-snap-align: start;
}

section:nth-child(2) {
    background-size: cover;
    background-image: url(../img/coverbg.png);
    background-position: center top;
}

section:nth-child(3) {
    background-color: #A62F24;
    background-size: cover;
}

section:nth-child(4) {
    background-color: #732119;
}

section:nth-child(5) {
    background-color: #D92929;
}

section:nth-child(6) {
    background-color: #A62F24;
}

section:nth-child(8) {
    background-color: #000000;
}

#home #mainbox {
    position: absolute;
    top: 30vh;
    left: 50vw;
}

#home #title {
    font-family: Open Sans Condensed;
    font-weight: bold;
    font-size: 48pt;
    line-height: 48pt;
    color: #FFFFFF;
    position: relative;
    padding-bottom: 0;
    margin-bottom: 0;
}


/* #home #subtitle::before {
    position: absolute;
    top: -3px;
    left: 0;
    content: '';
    width: 100%;
    height: 3px;
    background-color: #f4f4f4;
} */

#home #subtitle {
    position: relative;
    left: 0;
    top: 0;
    margin-top: 1ex;
    width: 35vw;
    font-size: 20pt;
    line-height: 22pt;
    text-align: left;
    font-weight: 300;
}

#home #mainbox #title,
#home #mainbox #subtitle,
#home #mainbox #affil {
    padding-right: 2vw;
}

section .contentbox {
    padding-top: 59px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 5vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
}

section .contentbox div {
    font-size: 18pt;
    width: 60%;
    margin-top: 0.5em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.5em;
}

section .contentbox div.boxtitle {
    text-transform: uppercase;
    text-align: center;
    font-family: Open Sans Condensed;
    font-weight: bold;
    font-size: 36pt;
    width: 100%;
}

section#details div.contentbox {
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 50px;
    padding-bottom: 50px;
}

.contentbox ul.sched {
    margin: 0;
    margin-top: 20px;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.contentbox ul.sched li.schedday {
    margin: 0.5em 0.5em;
    padding: 0.5em;
    text-align: center;
    font-size: 18pt;
    max-width: 300px;
    border-style: solid;
}

.contentbox ul.sched li.schedday .syllabus {
    font-size: 12pt;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    text-align: left;
    list-style-type: square;
}

.organizers ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.organizers ul li {
    margin: 0 0.5em;
    padding: 0.5em;
    text-align: center;
}

.organizers ul li a {
    position: relative;
    text-decoration: none;
    color: #F29422;
}

.organizers ul li a::after {
    position: absolute;
    bottom: -1px;
    left: 0;
    content: '';
    width: 0;
    height: 1px;
    transition: all 0.2s linear;
}

.organizers ul li a:hover::after {
    width: 100%;
    background-color: #f4f4f4;
}

.organizers div.profilepic {
    width: 200px;
    height: 200px;
    border-style: solid;
    border-color: #A62F24;
    border-width: 4px;
    border-radius: 50%;
    margin-top: 0;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
}

.organizers div.profilepic#mubdi {
    background-image: url(../img/profilepic_mubdi.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.organizers div.profilepic#gwen {
    background-image: url(../img/profilepic_gwen.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.organizers div.profilepic#renee {
    background-image: url(../img/profilepic_renee.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

div.supporters {
    padding-top: 25px;
}

img.logo {
    margin-top: 20px;
    padding-top: 10px;
    width: auto;
    height: 100px;
}

.contentbox a {
    position: relative;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 700;
}

.contentbox a::after {
    position: absolute;
    bottom: -1px;
    left: 0;
    content: '';
    width: 0;
    height: 1px;
    transition: all 0.2s linear;
}

.contentbox a:hover::after {
    width: 100%;
    background-color: #f4f4f4;
}

section#resources .contentbox ul.resources {
    margin: 0;
    margin-top: 20px;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

section#resources .contentbox ul.resources li.resourcebox {
    margin: 0.5em 0.5em;
    padding: 0.5em;
    text-align: center;
    font-size: 18pt;
    max-width: 300px;
    border-style: solid;
}

section#resources .contentbox ul.resources li.resourcebox .resourcelist {
    font-size: 12pt;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    text-align: left;
    list-style-type: square;
}

section#resources .contentbox ul.resources ul li a {
    position: relative;
    text-decoration: none;
    color: #f4f4f4;
}

section#resources .contentbox ul.resources ul li a::after {
    position: absolute;
    bottom: -1px;
    left: 0;
    content: '';
    width: 0;
    height: 1px;
    transition: all 0.2s linear;
}

section#resources .contentbox ul.resources ul li a:hover::after {
    width: 100%;
    background-color: #f4f4f4;
}

.contentbox ul.sched ul li a {
    position: relative;
    text-decoration: none;
    color: #f4f4f4;
}

.contentbox ul.sched ul li a::after {
    position: absolute;
    bottom: -1px;
    left: 0;
    content: '';
    width: 0;
    height: 1px;
    transition: all 0.2s linear;
}

.contentbox ul.sched ul li a:hover::after {
    width: 100%;
    background-color: #f4f4f4;
}